<p id="notice"><%= notice %></p>

<h2>
  <%= @beer_club.name %> <%= @beer_club.city %>
</h2>

<p>
 Founded
  <%= @beer_club.founded %>
</p>

<h3>Members</h3>

<ul>
  <% @beer_club.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>

<% if current_user %>
  <h4>join a club</h4>

  <%= form_for Membership.new do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.text_field :beer_club_id %>
    <br>
    <%= f.submit %>
  <% end %>
 <%end%>
 
 <br>

<% if current_user %>
  <%= link_to 'Edit', edit_beer_club_path(@beer_club) %> 
  <br>
  <%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>