<!DOCTYPE html>
<html>
  <head>
      
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
  </head>

    <h2>List of ratings</h2>

    <table class="table table-hover">
      <p> Amount of ratings: <%= @ratings.count %>
      <tbody>
          <ul>
            <pre><b>Beer Score User<b></pre>
            <% @ratings.each do |rating| %>
              <pre><%= rating %> <%= link_to rating.user.username%></pre>
            <% end %>
          </ul>

      <%= link_to('new rating', new_rating_path, class:'btn btn-primary') if current_user %>    

      </tbody>
    </table>
</html>



