<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @style.style_id %>
</p>

<p>
  <strong>Beer:</strong>
  <%= @style.beer_id %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
