<p id="notice"><%= notice %></p>

<h1>
  <%= @brewery.name %>
    <% if not @brewery.active  %>
      <span class="badge badge-info">retired</span>
    <% end %>
</h1>

<p><i>Established at <%= @brewery.year %></i></p>

<p> Number of beers: <%= @brewery.beers.count %> </p>

<p> 
  <% @brewery.beers.each  do |beer| %>
    <li><%= link_to beer.name %></li>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
  brewery has not yet been rated!
  <% else %>
  <%= "Has #{pluralize(@brewery.ratings.count, "brewery")}, average #{@brewery.average_rating}" %>
  <% end %>
</p>


<%= link_to('Edit', edit_brewery_path(@brewery), class:"btn btn-primary") %> 
<%= link_to('Back', breweries_path, class:"btn btn-primary") %>
